$botones: (btn-1:#e9af59, btn-2:#e99619, btn-3:#bd8127);
@each $btn,
$color in $botones {
    .#{$btn} {
        background-color: $color;
    }
}

@mixin display-justify{
    display: flex;
    justify-content: center;
}

body{
    header{
        .container-fluid{
            background-color: #c4bce3;
        }
    }
    main{
        .carrusel{
            @extend .container-fluid;
            #carouselExampleControls{
                height: 100;
                width: 80;
            }
        }
    }

    .masvendidoscontenedor{
        background-color: #c2924b;
        @include display-justify;
        .principales{
            color: white;
        }
    }
    .fondopagina {
        background-color:  #e4dcec;
        .container{
            .row{
                .col{
                    .card{
                        .btn:hover {
                            background-color: rgb(162, 25, 204);
                            border: rgb(162, 25, 204);
                          } 
                    }
                }
            }
        }
    }
    .piedepagina{
        background-color: #c4bce3;
        text-align: center;
        .container-fluid{
            .d-flex{
                display: flex;
                text-align: center;
            }
        }

    }
}
.piedepaginacont{
    background-color: #c4bce3;
    text-align: center;
    padding: 30px;
}
.principal{
    display: flex;
    justify-content: center;
    div{
        .menulateral{
            @media screen and (max-width: 480px){
            display: none;
            }
        }
    }
}

.Acordeon{
        display: inline;
    }


#Contacto {
    background-color: #e4dcec;
    .container-fluid{
        .row{
            padding: 20px;

            .contactos{ 
                text-align: center;
                margin-bottom: 10px;
                .btn{
                    background-color: #e9af59;
                    display: block;
                    margin-top: 10px;

                }
                .btn:hover {
                    background-color: rgb(162, 25, 204) !important;
                    border: rgb(162, 25, 204) !important ;
                  }
            }
        }
    }
}





