
@mixin display-justify{
    display: flex;
    justify-content: center;
}

body{
    header{
        .container-fluid{
            background-color: #c4bce3; 
            .nav-item:hover{
                background-color: #aca0da ;
            }
            .btn-outline-success{
                color: gray;
                border-color: gray;
                &:hover{
                    background-color: #a98bdd;
                    color: #ffffff;
                    border: #ffffff;
                }
            }
        }
    }
    main{
        .carrusel{
            @extend .container-fluid;
            #carouselExampleControls{
                height: 100;
                width: 80;
            }
        }
    }

    .masvendidoscontenedor{
        background-color: #c2924b;
        @include display-justify;
        .principales{
            color: white;
        }
    }
    .fondopagina {
        background-color:  #e4dcec;
        .container{
            .row{
                .col{
                    /*Productos*/ 
                    .card{
                        margin-bottom: 20px;
                        h5{
                            text-align: center;
                            font-family: 'Raleway', sans-serif;
                        }
                        img{
                            padding: 15px;
                        }
                        .btn{
                            display: inline-block;
                            padding: 8px 20px;
                            margin-left: 15px;
                            border: 1px solid rgb(127, 64, 185);
                            border-radius: 4px;
                            transition: all 0.2s ease-in;
                            position: relative;
                            overflow: hidden;
                            font-size: 15px;
                            color: rgb(127, 64, 185);
                            z-index: 1;
                        &::before{
                            content: "";
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%) scaleY(1) scaleX(1.25);
                            top: 100%;
                            width: 140%;
                            height: 180%;
                            background-color: rgba(0, 0, 0, 0.05);
                            border-radius: 50%;
                            display: block;
                            transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
                            z-index: -1;
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            left: 55%;
                            transform: translateX(-50%) scaleY(1) scaleX(1.45);
                            top: 180%;
                            width: 160%;
                            height: 190%;
                            background-color: #975de4;
                            border-radius: 50%;
                            display: block;
                            transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
                            z-index: -1;
                        }
                        &:hover{
                            color: #ffffff;
                            border: 1px solid #975de4;
                        }
                        &:hover::before{
                            top: -35%;
                            background-color: #975de4;
                            transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
                        }
                        &:hover::after{
                            top: -45%;
                            background-color: #975de4;
                            transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
                        }
                        }
                    }
                }
            }
        }
    }
    .piedepagina{
        background-color: #c4bce3;
        text-align: center;
        .container-fluid{
            .d-flex{
                display: flex;
                text-align: center;
            }
        }

    }
}
.piedepaginacont{
    background-color: #c4bce3;
    text-align: center;
    padding: 30px;
}
.principal{
    display: flex;
    justify-content: center;
    div{
        .menulateral{
            @media screen and (max-width: 480px){
            display: none;
            }
        }
    }
}

.Acordeon{
        display: inline;
    }


#Contacto {
    background-color: #e4dcec;
    .container-fluid{
        .row{
            padding: 20px;

            .contactos{ 
                text-align: center;
                margin-bottom: 10px;
                .btn{
                        margin: 15px;
                        background: linear-gradient(-45deg, #3f00b5, #9f69fe, #dfb322, #3f00b5);
                        background-size: 800% 400%;
                        padding: 1em 2em;
                        display: inline-block;
                        border: none;
                        border-radius: 10px;
                        font-size: 17px;
                        font-weight: 700;
                        color: white;
                        -webkit-transition: all .5s ease-in-out;
                        transition: all .5s ease-in-out;
                        -webkit-animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
                                animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
                
                    &:hover{
                        -webkit-animation: gradient 3s infinite;
                        animation: gradient 3s infinite;
                        -webkit-transform: scale(1.05);
                        -ms-transform: scale(1.05);
                        transform: scale(1.05);
                    }
                    &:active{
                        -webkit-animation: gradient 3s infinite;
                        animation: gradient 3s infinite;
                        -webkit-transform: scale(0.8);
                        -ms-transform: scale(0.8);
                        transform: scale(0.8);
                    }
                    }
                }
        }
    }
}
    
@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }
    
    100% {
        background-position: 0% 50%;
}
}
@keyframes gradient {
    0% {
     background-position: 0% 50%;
    }
   
    50% {
     background-position: 100% 50%;
    }
   
    100% {
     background-position: 0% 50%;
    }
}
                
               






